{% extends "layouts/main.html" %}
{% set pageName = "Saved Information" %}

{% block header %}
  {{ super() }}
  {% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

  {{ govukServiceNavigation({
    navigation: [
      { href: "/signed-search", text: "Search grants" },
      { href: "/signed-notifications", text: "Notifications" },
      { href: "/signed-favourites", text: "Favourites" },
      { href: "/signed-manage-applications", text: "Manage applications" },
      { href: "/signed-account-details", text: "Account details" }
    ]
  }) }}
{% endblock %}

{% block content %}
  {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
  {% from "govuk/components/button/macro.njk" import govukButton %}

  {% set orgTypeDisplay = "-" %}
  {% set actionText = "Add" %}
  {% set typeKeyText = "Type of organisation" %}
  {% set detailsHeading = "Your organisation details" %}
  {% set isIndividual = false %}

  {% if data['organisationType'] %}
    {% set actionText = "Change" %}
    
    {% if data['organisationType'] == "limited-company" %}
      {% set orgTypeDisplay = "Limited company" %}
    {% elif data['organisationType'] == "non-limited-company" %}
      {% set orgTypeDisplay = "Non-limited company" %}
    {% elif data['organisationType'] == "charity" %}
      {% set orgTypeDisplay = "Charity" %}
    {% elif data['organisationType'] == "individual" %}
      {% set orgTypeDisplay = "I am applying as an individual" %}
      {% set typeKeyText = "Type of application" %}
      {% set detailsHeading = "Your details" %}
      {% set isIndividual = true %}
    {% elif data['organisationType'] == "local-authority" %}
      {% set orgTypeDisplay = "Local authority" %}
    {% elif data['organisationType'] == "other" %}
      {% set orgTypeDisplay = "Other" %}
    {% endif %}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Your saved information</h1>

      <p class="govuk-body govuk-!-margin-bottom-6">
        Funding organisations run checks to prevent fraud. The information below will be used as part of these checks.
      </p>

      <!-- Type of application/organisation -->
      {{ govukSummaryList({
        classes: "govuk-summary-list--no-border govuk-!-margin-bottom-6",
        rows: [
          {
            key: { text: typeKeyText },
            value: { text: orgTypeDisplay },
            actions: {
              items: [
                {
                  href: "/organisation-type",
                  text: actionText,
                  visuallyHiddenText: "organisation type"
                }
              ]
            }
          }
        ]
      }) }}

      <!-- Your details section -->
      <h2 class="govuk-heading-m">{{ detailsHeading }}</h2>

      <!-- We build the rows array dynamically so we can hide company numbers for individuals -->
      {% set detailsRows = [
        {
          key: { text: "Name" },
          value: { text: "-" },
          actions: {
            items: [
              { href: "#", text: "Add", visuallyHiddenText: "organisation name" }
            ]
          }
        },
        {
          key: { text: "Address" },
          value: { text: "-" },
          actions: {
            items: [
              { href: "#", text: "Add", visuallyHiddenText: "organisation address" }
            ]
          }
        }
      ] %}

      {% if not isIndividual %}
        {% set detailsRows = (detailsRows.push({
          key: { text: "Companies House number" },
          value: { text: "-" },
          actions: {
            items: [
              { href: "#", text: "Add", visuallyHiddenText: "Companies House number" }
            ]
          }
        }), detailsRows) %}

        {% set detailsRows = (detailsRows.push({
          key: { text: "Charity Commission number" },
          value: { text: "-" },
          actions: {
            items: [
              { href: "#", text: "Add", visuallyHiddenText: "Charity Commission number" }
            ]
          }
        }), detailsRows) %}
      {% endif %}

      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-8",
        rows: detailsRows
      }) }}

      <!-- Back button -->
      {{ govukButton({
        text: "Back to my account",
        classes: "govuk-button--secondary",
        href: "/signed-account-details"
      }) }}

    </div>
  </div>
  
  <!-- Debugger (Delete this once you confirm it works) -->
  <pre>{{ data | dump }}</pre>

{% endblock %}