{% extends "layouts/main.html" %}

{% set pageName = "About us" %}

{% block content %}

<div class="govuk-grid-row">
  
  <!-- Main Content (Left side) -->
  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-heading-xl">Terms and conditions</h1>
    
    <p class="govuk-body">
      This page and any pages it links to explains the Find a grant service’s terms of use. You must agree to these to use Find a grant.
    </p>

    <h2 class="govuk-heading-m">Who we are</h2>
    <p class="govuk-body">
      Find a grant is managed by the 
      <a href="#" class="govuk-link">Government Grants Management Function</a> 
      (GGMF). GGMF is part of the Cabinet Office and will be referred to as ‘we’ from now on.
    </p>

    <h2 class="govuk-heading-m">Using Find a grant</h2>
    <p class="govuk-body">
      You agree to use Find a grant only for lawful purposes. You must also use it in a way that does not infringe the rights of, or restrict or inhibit the use and enjoyment of, this site by anyone else.
    </p>
    <p class="govuk-body">
      We update Find a grant all the time. We can change or remove content at any time without notice.
    </p>

    <h2 class="govuk-heading-m">Linking from Find a grant</h2>
    <p class="govuk-body">
      Find a grant links to websites that are managed by other government departments and agencies, service providers or other organisations. We do not have any control over the content on these websites.
    </p>
    <p class="govuk-body">
      We’re not responsible for:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the protection of any information you give to these websites</li>
      <li>any loss or damage that may come from your use of these websites, or any other websites they link to</li>
    </ul>
    <p class="govuk-body">
      You agree to release us from any claims or disputes that may come from using these websites.
    </p>
    
    <!-- Add remaining H2s, Paragraphs, and Lists here using the same classes -->

  </div>

  <!-- Sidebar (Right side) -->
  <div class="govuk-grid-column-one-third">
    
    <!-- Related Navigation block -->
    <aside class="govuk-!-margin-top-0" role="complementary">
      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-4" style="border-top: 2px solid #1d70b8; border-bottom: none;">
      
      <h2 class="govuk-heading-s govuk-!-margin-bottom-3" id="related-content">
        Related content
      </h2>
      
      <nav aria-labelledby="related-content">
        <ul class="govuk-list govuk-!-font-size-16">
          <li class="govuk-!-margin-bottom-2">
            <a href="/about-us" class="govuk-link">About us</a>
          </li>
          <li>
            <a href="/privacy-notice" class="govuk-link">Privacy notice</a>
          </li>
        </ul>
      </nav>
    </aside>

  </div>
</div>

{% endblock %}
